$fontRoboto: "Roboto", sans-serif;
$fontLato: "Lato", sans-serif;  
$colornavbar: #f5d8bb;
$colorTextoSecundario: #2d2121;
$colorFondo: #f5ecec;
$espaciadobase: 10px;
$fuentelinks: 15px;
$colorh1: #E07A5F;
$fuentetextosecundario: 10px